   <!-- Top Bar -->
  <section id="top-bar" class="p-0 ">
    <div class="mb-0" height="28px" width="1800px" style="margin-bottom:0px">
      <div class="alert alert-info alert-server m-0 p-0" role="alert">
        <div class="container-fluid">
          <button type="button" class="close" data-dismiss="alert">x</button>
          
        
          <div class="row ">
            <div class="col-md-4">
              <i class="fab fa-fw fa-xl fa-whatsapp-square"></i>+91 8341254558
            </div>
            <div class="col-md-4">
              <i class="fas fa-envelope-open"></i> contact@atplands.com
            </div>
            <div class="col-md-4">
              <div class="social text-right">
                <a href="https://www.youtube.com/channel/UC_qeQ5kXjeH9cXa3PeA6BVw/playlists">
            <i class="fab fa-fw fa-xl fa-youtube"></i>
                </a>
                <a href="https://www.facebook.com/ATPLandscom-115151431194024">
                  <i class="fab fa-facebook"></i>
                </a>
                <a href="#">
                  <i class="fab fa-linkedin"></i>
                </a>
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
                <a href="#">
                  <i class="fab fa-pinterest"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
  </section>